.hidden {
    display: none;
}
.cursorBlink{
    overflow:hidden;
    animation:blink 1s steps(5,start) infinite
}
.fab, .far {
    font-size: 40px;
}
@keyframes blink{from,to{color:transparent}50%{color:#FFFFFF}}
@-moz-keyframes blink{from,to{color:transparent}50%{color:#FFFFFF}}
@-webkit-keyframes blink{from,to{color:transparent}50%{color:#FFFFFF}}
@-ms-keyframes blink{from,to{color:transparent}50%{color:#FFFFFF}}
@-o-keyframes blink{from,to{color:transparent}50%{color:#FFFFFF}}

body > #root > div {
    height: 100vh;
  }

.copyright{
    text-align: center;
    color: white;
    padding-top: 20px;
}

.copyright .highlight{
    text-align: center;
    color: #0091ca;
    font-weight: bold;
}

.featurette {
    font-size: 1.8rem;
    line-height: 1.5;
    text-align: center;
}
.featurette-icon {
    display: block;
    width: 100%;
    color: #0091ca;
    font-size: 3rem;
    text-align: center;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
@media screen and (min-width: 576px){
    .col-sm-4 {
        flex: 0 0 33.33333333%;
        max-width: 33.33333333%;
    }
}

